@font-face {
    font-family: hero;
    src: url(./font/hero/Hero.otf)
}

@font-face {
    font-family: hero-light;
    src: url(./font/hero/Hero\ Light.otf)
}

body {
    font-family: Hero;
    margin:0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1F2937;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.top-section {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.header-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 15px;
}

.subheader-container{
    display: flex;
    padding-bottom: 40px;
}

.subheader-text {
    display: flex;
    flex-direction: column;
}

.placeholder {
    background-color: #6d7785;
    width: 400px;
    height: 200px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}